html {
  font-size: 10px;
}

body {
  color: #100a30;
  font-size: 16px;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1232px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1232px;
  margin: 0 auto;
  padding: 33px 15px;
}

.nav {
  list-style: none;
  padding-left: 0;
  display: flex;
  align-items: center;
  margin: 0;
}
.nav__item:not(:first-child) {
  margin-left: 4.4rem;
}
.nav__item:last-child {
  margin-left: 2.7rem;
}
.nav__link {
  color: #100a30;
}
.nav__btn {
  font-size: 1.4rem;
  color: #fff;
  background-color: #624de3;
  padding: 1.6rem 2.6rem;
  border-radius: 0.6rem;
}

.banner {
  text-align: center;
  background-color: #100a30;
  color: #fff;
  padding-top: 62px;
  padding-bottom: 757px;
  position: relative;
}
.banner__title {
  font-size: 5.5rem;
  max-width: 57rem;
  margin: 0 auto 3.1rem;
  padding-top: 62px;
}
.banner__img {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -172px;
  margin: 0 auto;
}

.btn-group {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}
.btn-group__btn {
  border: 1px solid #fff;
  background-color: transparent;
  font-size: 1.6rem;
  padding: 1.7rem 3.7rem;
  color: #fff;
  border-radius: 0.6rem;
  margin: 0 0.8rem;
}
.btn-group__btn-main {
  font-size: 1.5rem;
  background-color: #624de3;
  border: 1px solid #624de3;
  padding: 1.8rem 3.7rem;
}

.section {
  padding-top: 150px;
}
.section__title {
  font-size: 4.8rem;
  font-weight: 700;
  text-align: center;
  max-width: 650px;
  margin: 0 auto;
}

.tarif {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
}
.tarif-item {
  flex: 0 0 32%;
}
.tarif-item-01 .tarif-header {
  background-image: url(../img/tarif-01.svg);
}
.tarif-item-01 .tarif-footer {
  background-color: rgba(16, 10, 48, 0.03);
}
.tarif-item-01 .tarif-list__item::before {
  background-image: url(../img/check-01.svg);
}
.tarif-item-02 .tarif-header {
  background-image: url(../img/tarif-02.svg);
}
.tarif-item-02 .tarif-footer {
  background-color: rgba(25, 199, 135, 0.05);
}
.tarif-item-02 .tarif-list__item::before {
  background-image: url(../img/check-02.svg);
}
.tarif-item-03 .tarif-header {
  background-image: url(../img/tarif-03.svg);
}
.tarif-item-03 .tarif-footer {
  background-color: rgba(252, 185, 52, 0.05);
}
.tarif-item-03 .tarif-list__item::before {
  background-image: url(../img/check-03.svg);
}
.tarif-header {
  padding-top: 10rem;
  border-radius: 0.8rem 0.8rem 0 0;
  background-repeat: no-repeat;
  background-size: cover;
}
.tarif-info {
  color: #fff;
  background-color: #100a30;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 4rem 3rem 3.5rem;
  position: relative;
}
.tarif-info::before {
  content: "";
  display: block;
  width: 100%;
  height: 4.5rem;
  background-image: url(../img/item.svg);
  position: absolute;
  top: -4.5rem;
  left: 0;
}
.tarif-info__title {
  font-size: 2.4rem;
  font-weight: 400;
  margin: 0;
}
.tarif-info__title::before {
  content: "";
  display: block;
  background-image: url(../img/logo-min.svg);
  width: 6.1rem;
  height: 1.6rem;
  margin-bottom: 1.3rem;
}
.tarif-info__price {
  font-size: 4.8rem;
  margin: 0;
}
.tarif-info__price span {
  font-size: 1.5rem;
}
.tarif-footer {
  border-radius: 0 0 0.8rem 0.8rem;
  padding: 2.4rem 3rem;
}
.tarif-list {
  list-style: none;
  padding-left: 0;
}
.tarif-list__item {
  position: relative;
  padding-left: 3rem;
  margin-bottom: 1.4rem;
  font-size: 1.4rem;
  font-weight: 700;
}
.tarif-list__item::before {
  content: "";
  display: block;
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: calc(50% - 1rem);
  left: 0;
}/*# sourceMappingURL=style.css.map */